h1 {
  position: absolute;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  left: 60px;
  top: 20px;
}



body {
  float: left;
  background-color: rgb(224, 234, 222);
  width: 1100px;
  max-width: 1100px;
}

#container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  width: 1fr;
  max-width: 1fr;
  height: 680px;
  max-height: 680px;
  top: 100px;
  left: 60px;
}

.grid-item{
  width: 350px;
  max-width: 350px;
  height: 350px;
  max-height: 350px;
  position: relative;
  text-align: left;
  background-color: rgb(255, 250, 122);
  border-color: rgb(255, 250, 122);
  -webkit-box-shadow: 7px 7px 25px -6px rgba(145,142,145,0.9);
  -moz-box-shadow: 7px 7px 25px -6px rgba(145,142,145,0.9);
  box-shadow: 7px 7px 25px -6px rgba(145,142,145,0.9);
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

#addbut{
  position: absolute;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(76, 204, 61);
  border-color: rgb(76, 204, 61);
  left: 460px;
  top: 45px;
  width: 200px;
}



#title{
  position: absolute;
  top: 20px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  left: 10px;
}

#author{
  position: absolute;
  top: 85px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  left: 10px;
}

#pages{
  position: absolute;
  top: 140px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  left: 10px;
}

#thoughts{
  position: absolute;
  top: 200px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  left: 10px;
}
i{
  position: absolute;
  font-size:40px;
  color:rgb(237, 90, 71);
  top: 10px;
  right: 10px;
}

#textarea1 {
  position: absolute;
  left: 55px;
  top: 0px;
  width: 220px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  font-size: 25px;
  background-color: rgb(255, 250, 122);
  border-color: rgb(255, 250, 122);
}

#textarea2 {
  position: absolute;
  left: 85px;
  top: 5px;
  width: 220px;
  min-height: 50px;
  max-height: 50px;
  font-size: 20px;
  background-color: rgb(255, 250, 122);
  border-color: rgb(255, 250, 122);
}

#textarea3 {
  position: absolute;
  left: 75px;
  top: 5px;
  width: 220px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  font-size: 20px;
  background-color: rgb(255, 250, 122);
  border-color: rgb(255, 250, 122);
}

#textarea4 {
  position: absolute;
  left: 0px;
  top: 41px;
  width: 335px;
  min-height: 50px;
  max-height: 100px;
  font-size: 20px;
  font-weight: lighter;
  background-color: rgb(255, 250, 122);
  border-color: rgb(255, 250, 122);
}
